<!--- this settings file tweaks TerraForm for a Fusebox 3 environment. If you prefer you can paste these settings into your defaults.cfm files or into the regular settings.cfm file. --->

<!--- <cfparam name="Attributes.Action" default="#request.self#?fuseaction=#Caller.Attributes.FuseAction#"> --->
<cfparam name="Attributes.Scope" default="ATTRIBUTES"> 
<cfinclude template="settings.cfm">
