﻿@charset "utf-8";

.divSelect {
	overflow: auto;
	width: 100%
}

.divSelect DIV {
	float : left;
	margin : 0 4px 4px 0;
	border : 3px solid #cccccc;
	background-color : #ffffff;
	padding : 3px;
	cursor : pointer;
	color : #666666;
}

.divSelect DIV.divSelectSelected {
	border : 3px solid #33ee33;
	background-color : #eeffee;
	color : black;
}