<!--- Note that this is CFMX7+ only! --->
<cfif StructKeyExists(url, "hash")>
<cfinclude template="act_createCaptcha.cfm">
<cfset stream=application.captchaService.createCaptchaFromHashReference("stream", url.hash)>
<cfcontent type="image/jpeg" variable="#stream.stream#" reset="true"></cfif>